/* UTILITY */

.text-black {
    color: black;
}

.text-chiaro {
    color: white;
}

/* HEADER */

div { 
    background-color: red;
    width: 5000px; 
    height: 2px;
}
.paperino {
    width: 22000px;
    color: grey;
}

#pippo { /* elemento con id='pippo' */
    width: 200px;
    height: 200px;
}

.card__titolo { /* TUTTI gli elementi con classe "card__titolo" */
    /* background-color: #97deff; */
    background-color: rgb(255 0 255 / 50%);
    border: 1px black solid;
    color: beige;
    width: 500px;
    height: 200px;
}

/* .card__titolo--rosa {
    background-color: pink;
    color: beige;
    width: 500px;
    height: 100px;
} */

.card--rosa {
    background-color: pink;
}

/* div {
    background-color: blue;
} */


/* MAIN */


/* FOOTER */


